{% extends "autho_app/base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Welcome back, {{ user.username }}!</h1>
{% else %}
    <a href="{% url 'accounts:login' %}" style="text-decoration: none; color: #fff;">Login</a><br><br>
    <a href="{% url 'accounts:register' %}" style="text-decoration: none; color: #fff;">I don't have an account yet</a>
{% endif %}


{% if user.is_authenticated %}
    <hr />
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button name="submit">Logout</button>
    </form>
{% endif %}

{% endblock content %}