{% extends 'autho_app/base.html' %}

{% block content %}

<div class="container">
    <form method="post">
    
    <h2>Email confirmation</h2>
    <p>Enter the 4-digit code sent to your email</p>

    {% csrf_token %}
    <div class="form-group">
    <input type="text" name="code" id="code" maxlength="4" size="32" style="text-align: center;" required ></div>

    <button class="button5" name="sumbit" style="padding: 9px 118px;">Submit</button>
    
    {% if error %}
    <p style="color: red; margin-top: 1%">{{ error }}</p>
    {% endif %}
</form>
</div>



{% endblock content %}