
{% extends 'autho_app/base.html' %}


{% block content %}

<form action="{% url 'accounts:register' %}" method="post">
    {% csrf_token %}
    <!-- {{ form.as_div }} -->

    {{ form.email.label }}
    {{ form.email }}<br>

    {{ form.username.label }}
    {{ form.username }}<br>

    {{ form.password1.label }}
    {{ form.password1 }}<br>

    <ul id="password-requirements">
        <li id="length" class="requirement">From 8 to 15 characters</li>
        <li id="uppercase" class="requirement">Lower and upper case letters</li>
        <li id="number" class="requirement">At least 1 number</li>
        <li id="special" class="requirement">At least 1 special character (!, ", #, $...)</li>
    </ul>

    {{ form.password2.label }}
    {{ form.password2 }}<br><br>

    <a href="{% url 'autho_app:index' %}" style="text-decoration: none; color: #fff;">Go back</a>
    <button name="sumbit">Next</button>
</form>

{% if form.errors %}
<ul>
{% for field in form %}
    {% for error in field.errors %}
    <li style="color: red;">{{ error }}</li>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <li style="color: red;">{{ error }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock content %}