{% extends 'autho_app/base.html' %}

{% block content %}

<div class="container">
<form action="{% url 'accounts:register' %}" method="post">

    <h2>Create your account</h2>
    {% csrf_token %}
    
    <div class="form-group">
    {{ form.email }}</div>

    <div class="form-group">
    {{ form.username }}</div>

    <div class="form-group">
    {{ form.password1 }}</div>


<p class="requirement">
    From 8 to 15 characters<br>
    Lower and upper case letters<br>
    At least 1 number<br>
    At least 1 special character (!, ", #, $...)<br>
</p>

    <div class="form-group">
    {{ form.password2 }}</div>

    
<!-- Error messages -->
{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <li style="color: red;">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}


<!-- Email error message  -->
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}


<div style="margin-top: 15px;">
    <a href="{% url 'autho_app:index' %}" class="button5" style="margin-top: 1%; padding: 12px 60px;">Go back</a>
    <button class="button5" name="sumbit" style="margin-top: 1%; padding: 12px 72px;">Next</button>
</div>


</form>
</div>


<!-- Error messages -->
{% if form.errors %}
<ul>
{% for field in form %}
    {% for error in field.errors %}
    <li style="color: red;">{{ error }}</li>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <li style="color: red;">{{ error }}</li>
{% endfor %}
</ul>
{% endif %}


<!-- Email error message  -->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

{% endblock content %}