
{% extends 'autho_app/base.html' %}


{% block content %}

<div class="container">
<form action="{% url 'accounts:register' %}" method="post">
    <h2>Create your account</h2>
    {% csrf_token %}
<center>
    <div class="form-group">
    {{ form.email.label }}
    {{ form.email }}</div>
    <div class="form-group">
    {{ form.username.label }}
    {{ form.username }}</div>
    <div class="form-group">
    {{ form.password1.label }}
    {{ form.password1 }}</div>

    <ul id="password-requirements">
        <li id="length" class="requirement">From 8 to 15 characters</li>
        <li id="uppercase" class="requirement">Lower and upper case letters</li>
        <li id="number" class="requirement">At least 1 number</li>
        <li id="special" class="requirement">At least 1 special character (!, ", #, $...)</li>
    </ul>

    <div class="form-group">
    {{ form.password2.label }}
    {{ form.password2 }}</div>

    <a href="{% url 'autho_app:index' %}">Go back</a>
    <!-- <button class="button5" style="margin-top: 1%; padding: 12px 60px;">Go back</button> -->
    <button class="button5" name="sumbit" style="margin-top: 1%; padding: 12px 70px;">Next</button>
</center>
</form>
</div>

{% if form.errors %}
<ul>
{% for field in form %}
    {% for error in field.errors %}
    <li style="color: red;">{{ error }}</li>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <li style="color: red;">{{ error }}</li>
{% endfor %}
</ul>
{% endif %}


<!-- Email error message  -->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

{% endblock content %}